@page
@model APTravelApp.Pages.about_usModel
@{
}



@{
    ViewData["Title"] = "About Us";
}



<div class="page-title-container">
    <div class="container">
        <div class="page-title pull-left">
            <h2 class="entry-title">About Us</h2>
        </div>

    </div>
</div>
<section id="content">
    <div class="container">
        <div id="main">
            <div class="large-block image-box style6">
                <article class="box">
                    <figure class="col-md-5">
                        <a href="#" title="" class="middle-block"><img class="middle-item" src="images/shortcodes/image-box/style06/1.png" alt="" width="476" height="318" /></a>
                    </figure>
                    <div class="details col-md-offset-5">
                        <h4 class="box-title">Who We Are?</h4>
                        <p>
                            Established in 1987, Airport Travel is one of the leading travel companies in the UK.
                            Comprising highly experienced professionals we aim to offer our clients the best travel deals all
                            across the world. Keeping up with the latest technology and software our travel trade has been topnotch for years. If you are seeking the best travel experience then you are at the right place. Contact
                            our team ASAP and take your first step forward towards your best ever travel experience.
                        </p>
                    </div>
                </article>
                <article class="box">
                    <figure class="col-md-5 pull-right middle-block">
                        <a href="#" title=""><img class="middle-item" src="images/shortcodes/image-box/style06/2.png" alt="" width="476" height="318" /></a>
                    </figure>
                    <div class="details col-md-7">
                        <h4 class="box-title">What We Do?</h4>
                        <p>
                            Our highly professional travel experts are here to serve you with the best travel deals all across the
                            world. We deal in international travel by analyzing our client's requirements and matching them
                            with the best suitable deal for them
                        </p>
                    </div>
                </article>
                <article class="box">
                    <figure class="col-md-5">
                        <a href="#" title="" class="middle-block"><img class="middle-item" src="images/shortcodes/image-box/style06/3.png" alt="" width="476" height="318" /></a>
                    </figure>
                    <div class="details col-md-offset-5">
                        <h4 class="box-title">How does Airport Travel work?</h4>
                        <p>
                            At Airport Travel you arrive with your planned trip and we execute your travel experience in the be st
                            practical format. Our travel experts mark every small requirement of our clients and with the best
                            technical support, they offer the best deals for our clients.
                        </p>
                    </div>
                </article>
                <article class="box">
                    <figure class="col-md-5">
                        <a href="#" title="" class="middle-block"><img class="middle-item" src="images/shortcodes/image-box/style07/1.jpg" alt="" width="476" height="318" /></a>
                    </figure>
                    <div class="details col-md-offset-5">
                        <h4 class="box-title">Our Core Value:</h4>
                        <p>
                            Our core values are loyalty, integrity and quality. At Airport Travel we aim to serve our customers
                            with utmost loyalty as we seek their trust before any profits. Our team is oriented to offer the best
                            customer service providing the best communicative support. We do not focus on profits or numbers,
                            our goal is to provide the best quality deals as per the customer requirements. In conclusion, we
                            would proudly state that we are here to build a family of customers and not just a brand with
                            numerous profits.
                        </p>
                    </div>
                </article>
            </div>




        </div>
    </div>
</section>
