@page
@model APTravelApp.Pages.ThanksModel
@{
}
<div class="page-title-container">
    <div class="container">
        <div class="page-title pull-left">
            <h2 class="entry-title">Thanks</h2>
        </div>
    </div>
</div>
<section id="content">
    <div class="container">
        <div id="main">
            <div class="large-block image-box style6">
                <article class="box">
                    <figure class="col-md-5">
                        <a href="#" title="" class="middle-block"><img class="middle-item" src="images/shortcodes/image-box/style06/1.png" alt="" width="476" height="318" /></a>
                    </figure>
                    <div class="details col-md-offset-5">
                        <h4 class="box-title">Thank you for getting in touch!</h4>
                        <p>
                            We appreciate you contacting us. Please call us on 01215005171 for the best deal!
                        </p>
                        <p>Have a great day!</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>